/**
 * PNW Handbooks custom.css
 *
 * Use this file to add your custom styles.
 *
 */

/* html {
 	background: #6d2d23;
 }*/

 #content-wrapper {
   border-top: none;
}

 #content-wrapper.no-secondary {
    padding-top: 0;
}

 #breadcrumb {
 	font-size: 0.875em;
  margin-bottom: 0;
  padding-bottom: 0.500em;
  padding-top: 0.500em;
 }

/*  hide breadcrumbs on search page */
.page-search-content #breadcrumb,
.front #breadcrumb {
	display: none;
}

.front #messages-help-wrapper,
.page-search-content #messages-help-wrapper {
	margin-bottom: 0.875em;
}

/*  note: this should match the h2 title style */
.field-name-field-styled-title,
h2.title {
	font-size: 1.250em;
	font-weight: 500;	
	line-height: 1.2;
}

#toggle-wrapper {
	border-top: none;
}

#draw-wrapper {
	background: #616161;
}

#page {
	background: url("images/insect/page_bg_desktop.png") repeat-x 0 0 #F5F5F5;
}

#header-wrapper {
	background: url("images/insect/page_bg_desktop.png") repeat-x 0 0 #F5F5F5;
	border-bottom: none;
}

#branding {
	margin: 0 20px 15px 20px;
}

/* hide search form on search page */
.page-search-content #search-form {
	display: none;
}

#page-footer {
	background: url("images/insect/footer_bg_desktop.png") repeat-x scroll 0 0 #6d2d23;
}

#footer-panels-wrapper {
	border-bottom: none;
	font-size: 0.75em;
}

#footer-wrapper {
	border-top: none;
	margin-bottom: 1.0em
	padding: 1.0em 0 0 0;
	background-color: transparent;
}

div#block-boxes-footer-text.block {
	margin-bottom: 0;
}



 /*#tertiary-content-wrapper { {
    background: url('images/insect/footer_sides.png') repeat-x scroll 0 15px transparent;
    border-bottom: 1px solid #627D90;
    height: 152px;
    margin: auto;
}*/

 /*-----------------------Order Printed Handbook Page-------------------------
---------------------------------------------------------------------------*/
  
  #ordering-info-table td {
    border: none !important;
  }
  
  #ordering-info-table p {
    margin: 0;
  }
  
  #ordering-info-table p.state {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0.5em;
  }
  
  div.ordering-information p.header {
    font-weight: bold;
    font-size: 1.25em;
  }


/*--Start pager style override--*/
/*ul.pager {
  background: none;
  border: 1px solid #cecece;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
ul.pager * {
	margin: 0 !important;
	padding: 0 !important;
	line-height: 0 !important;
	height: 0 !important;
	width: 0 !important;
	text-indent: 0 !important;
	background-image: none !important;
	background-color: #fff !important;
	color: #666 !important;
}
ul.pager li, ul.pager li a {
	display: block !important;
	float: left !important;
}
ul.pager li.pager-item, ul.pager li.pager-first, ul.pager li.pager-previous, ul.pager li.pager-next, ul.pager li.pager-last {
	height: 16px !important;
	width: 20px !important;
	margin: 0 2px !important;
}
ul.pager li.pager-current, ul.pager li a {
	border: 1px solid #C6C8C9 !important;
	border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	-ms-border-radius: 2px !important;
	-o-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
}
ul.pager li.pager-current {
	line-height: 38px !important;
	height: 27px !important;
	width: 20px !important;
	margin: -10px 0 0 2px !important;
	border-top: none !important;
}
ul.pager li a {
	line-height: 16px !important;
	height: 16px !important;
	width: 20px !important;
}
ul.pager li.pager-first a, ul.pager li.pager-previous a, ul.pager li.pager-next a, ul.pager li.pager-last a {
	font-size: 18px !important;
	font-weight: normal !important;
	line-height: 13px !important;
}
@-moz-document url-prefix() {
	ul.pager li.pager-first a, ul.pager li.pager-previous a, ul.pager li.pager-next a, ul.pager li.pager-last a {
		line-height: 12px !important;
	}
}
ul.pager li a:hover {
	background-color: #666 !important;
	border-color: #333 !important;
	color: #FFF !important;
}
ul.pager a.views-throbbing {
	color: #fff !important;
}*/
	/*--Start pager animation control--*/
	/*@keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	@-webkit-keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	@-moz-keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	@-o-keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	@-ms-keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	ul.pager a.views-throbbing
	{
	  border-color: #333 !important;
	  
		animation-name: throb;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 0.25s;
		animation-direction: alternate;
	
		-webkit-animation-name: throb;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-duration: 0.25s;
		-webkit-animation-direction: alternate;
	
		-moz-animation-name: throb;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-iteration-count: infinite;
		-moz-animation-duration: 0.25s;
		-moz-animation-direction: alternate;
	
		-o-animation-name: throb;
		-o-animation-timing-function: ease-in-out;
		-o-animation-iteration-count: infinite;
		-o-animation-duration: 0.25s;
		-o-animation-direction: alternate;
	
		-ms-animation-name: throb;
		-ms-animation-timing-function: ease-in-out;
		-ms-animation-iteration-count: infinite;
		-ms-animation-duration: 0.25s;
		-ms-animation-direction: alternate;
	}*/
	/*--End pager amination control--*/
/*--End pager style override--*/

  p.See-also-link,
  p.See-also-Link,
  p.See-also-text,
  p.See-also-Text,
  p.See-also-Intro,
  p.See-also-intro,
  p.See-also {
    margin: 0;
  } 





/* InDesign styles (insect) */
tbody, thead, tfoot, tr, td, th { 
border-style : inherit;
border-width : inherit;
border-color : inherit;

}
td { 
width : 10px;
height : 5px;

}
.leftFloat { 
float : left;

}
.rightFloat { 
float : right;

}
tr.Row-Column-1 { 
background-color : #cccccc;

}
ol.List-2 { 
margin-left : 11px;

}
ul.List-3 { 
margin-left : 18px;

}
span.regular { 
	font-style: normal;
}
.superscript { 
vertical-align : super;
font-size: .875em;
}

.subscript { 
vertical-align : sub;
font-size: .875em;
}
.bold { 
font-weight : 500;

}
.italic { 
font-style : italic;
font-weight : 400;

}
.bold-italic { 
font-weight : 500;
font-style : italic;
font-weight : 500;
}


.Division-line-below {
	border-bottom: 1px solid #ccc;
}

p.No-Paragraph-Style { 
text-align : left;
text-indent : 0px;
margin : 0px;

}
p.table-title { 
font-weight : 500;
text-align : left;
text-indent : 0px;
margin : 12px 0px 6px 0px;

}
p.table-column-head { 
font-weight : 500;
text-align : center;
text-indent : 0px;
margin : 12px 0px 3px 0px;

}
p.table-row-head { 
font-weight : 500;
font-size : 0.688em;
text-align : center;
text-indent : 0px;
margin : 12px 0px 3px 0px;

}
p.table-text { 
text-align : left;
text-indent : 0px;
margin : 0px;

}
p.Normal { 
text-align : left;
text-indent : 0px;
margin : 0px;

}
p.table-footnote { 
text-align : left;
text-indent : -15px;
margin : 2px 0px 1px 15px;

}
p.body-text { 
text-align : left;
text-indent : 0px;

}
p.Index-Title { 
font-weight : 500;
text-align : left;
text-indent : 0px;
margin : 0px 0px 18px 0px;

}
p.Index-Level-3 { 
line-height : 1.18;
text-align : left;
text-indent : -14px;
margin : 0px 0px 0px 40px;

}
p.Index-Alpha-Header--w-line- { 
font-weight : 500;
font-size : 1.500em;
text-align : left;
text-indent : 0px;
margin : 18px 0px 6px 0px;

}
p.Index-Level-1 { 
font-weight : 500;
text-align : left;
text-indent : -28px;
margin : 5px 0px 0px 28px;

}
p.Index-Level-2 { 
text-align : left;
text-indent : -21px;
margin : 0px 0px 0px 29px;

}
p.TOC-Header { 
font-weight : 500;
font-size : 1.125em;
text-align : center;
text-indent : 0px;
margin : 0px;

}
p.TOC-Content-1 { 
font-size : 0.688em;
line-height : 1.25;
text-align : left;
text-indent : 0px;
margin : 0px;

}
p.TOC-Section-Head { 
font-weight : 500;
line-height : 1.11;
text-align : left;
text-indent : 0px;
margin : 0px;

}
p.TOC-Content-2 { 
font-size : 0.668em;
line-height : 1.24;
text-align : left;
text-indent : 0px;
margin : 0px 0px 0px 10px;

}
p.TOC-Subhead { 
line-height : 0.83;
text-align : center;
text-indent : 0px;
margin : 0px;

}
p.Contributors-Head { 
font-weight : 500;
font-size : 1.188em;
text-align : left;
text-indent : 0px;
margin : 5px 0px;

}
p.Contributor-Level-1 { 
text-align : left;
text-indent : 0px;
margin : 10px 0 0 0;

}
p.Contributor-Level-2 { 
text-align : left;
text-indent : -20px;
margin : 0px 0px 2px 43px;

}
p.subhead2,
p.Contributors-Head { 
	font-weight : 500;
	font-size: 1.125em;
	margin-bottom: 0;
}
p.crop-and-pest-name { 
font-weight : 500;
text-align : left;
text-indent : 0px;
margin : 12px 0px 2px 0px;

}
p.pest-sci-name { 
	font-style : italic;
	margin-bottom: 0 0 0 0.75em;
}

li.controls1 { 
text-align : left;
margin-right : 0px;
margin-top : 1px;
margin-bottom : 1px;

}
p.Includes,
p.mgmt-head,
p.nursery-pests { 
font-weight: 500;
font-size: 1.125em;
margin-bottom: 0;
}

.Includes {
	margin-bottom: 0;
}

}
p.subhead3,
p.subhead-xmas-tree { 
font-weight : 500;
font-size: 1.313em;

}


}
li.indented-list { 
text-align : left;
margin-right : 0px;
margin-top : 1px;
margin-bottom : 0px;

}
p.chapter-head { 
font-weight : 500;
text-align : left;
text-indent : 0px;
margin : 18px 0px 12px 0px;

}
p.section-head-w-line { 
font-weight : 500;
font-size : 1.188em;
text-align : left;
text-indent : 0px;
margin : 36px 0px 6px 0px;

}
p.author { 
text-align : left;
text-indent : 0px;
margin : 2px 0px 6px 0px;

}

li.controls2 { 
text-align : left;
margin-right : 0px;
margin-top : 1px;
margin-bottom : 1px;

}
p.mgmt-subhead { 
font-style : italic;
}
li.controls3 { 
text-align : left;
margin-right : 0px;
margin-top : 1px;
margin-bottom : 1px;

}
p.table-text-centered { 
text-align : center;
text-indent : 0px;
margin : 0px;

}
p.INCLUDES-MANAGEMENT-OPTIONS { 
font-weight : 500;
font-style : italic;
text-align : left;
text-indent : 0px;
margin : 0px;

}
p.APPLESTAGE { 
font-weight : 500;
font-style : italic;
font-size: 1.125em;
text-transform: uppercase;
}

p.Basic-Paragraph { 
text-align : left;
text-indent : 0px;
margin : 0px;

}
p.subhead3 { 
	font-size: 1.188em;
	font-weight: 500;
	margin-bottom: 0;
}

p.subhead4,
p.subhead4--with-rule-below- { 
	font-size: 1.125em;
	font-weight: 500;
	margin-bottom: 0;
}
p.indented-list--no-numbers- { 
text-align : left;
text-indent : -11px;
margin : 1px 0px 0px 22px;

}
p.footer-text-left { 
text-align : left;
text-indent : 0px;
margin : 0px;

}
p.intro-body-text { 
text-align : left;
text-indent : 0px;

}

p.subhead-xmas-tree { 
text-align : left;
text-indent : 0px;

}
p.footer-text-right { 
text-align : right;
text-indent : 0px;
margin : 0px;

}

table.No-Table-Style { 
border-collapse : collapse;
border-width : 1px;
border-style : solid;
border-margin-top : 4px;
margin-bottom : -4px;

}
table.Aphids-and-Adelgids-Table { 
  width: 100%;
  border: 1px solid #000;
}
table.Sample-Table { 
border-collapse : collapse;
border-width : 1px;
border-style : solid;
border-margin-top : 4px;
margin-bottom : -4px;

}

table.Aphids-and-Adelgids-Table tbody tr td {
  width: 50%;
}
td.Cell-Shade-20 { 
background-color : #cccccc;
padding-top : 4px;
padding-bottom : 4px;
padding-left : 5px;
padding-right : 4px;

}
td.Title-Cell-0 { 

}
td.Standard-Cell { 

}
td.Footer-Cell-0 { 
padding-top : 5px;

}
td.Cell-Shade-40 { 
background-color : #999999;

}

#menu-bar .block {
	/*font-size: 93.5%;*/
  text-transform: none;
}


/* Superfish overrides */
li#menu-480-1 {
	padding: 0.75em 1em;
	color: #fff;
}
/*
.sf-menu.sf-style-space-teal a {
	border: none;
}*/


#menu-wrapper {
	box-shadow: none;
	top: 0;
}

#menu-bar {
	background: transparent;
}

#block-menu-menu-front-sidebar-menu.block ul li {
	font-size: 0.813em;
}
/* remove "you are here" from breadcrumb */
#breadcrumb h2 {
	display: none;
}

.field-name-field-author,
.field-name-field-revision-date {
	font-size: 0.875em;
	/*margin-bottom: 1em;*/
}

.field-name-field-revision-date {
	font-style: italic;
	/*margin-bottom: 1em;*/
}

article header {
	margin-bottom: 0;
}

.field-name-field-article-options {
	/*margin-top: 0.5em;*/
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.875em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	padding-top: 5px;
}

/*  insect table styles */
p.table-title {
	font-weight : 500;
	font-style : normal;
	font-size : 0.813em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 12px 0px 9px 0px;
}
p.table-column-head {
	font-weight : 500;
	font-style : normal;
	font-size : 0.750em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 12px 0px 3px 0px;
}
p.table-row-head {
	font-weight : 500;
	font-style : normal;
	font-size : 0.750em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 12px 0px 3px 0px;
}
p.table-text {
	font-weight : normal;
	font-style : normal;
	font-size : 0.750em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.table-text-centered {
	font-size : 0.750em;
	line-height : 1.2;
	text-align : center;
	margin : 0px;
}

p.table-footnote {
	font-weight : normal;
	font-style : normal;
	font-size : 0.688em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 5px 0px 1px 0px;
}

p.table-column-head-left {
	font-weight : 500;
	font-style : normal;
	font-size : 0.750em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 12px 0px 3px 0px;
}
p.table-row-head-left {
	font-weight : 500;
	font-style : normal;
	font-size : 0.750em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 12px 0px 3px 0px;
}
table.Basic-Table {
	border-collapse : collapse;
	border: none;
	margin-top : 4px;
	margin-bottom : -4px;
}
td {
	vertical-align: top;
}
td.Cell-Style-1 {
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	padding-right : 5px;
	border: 1px solid;

}
td.Cell-Style-2 {
	background-color : #cccccc;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	padding-right : 5px;
	border: 1px solid;
}
td.Cell-Style-3 {
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	padding-right : 5px;
	border: none;
}
td.Cell-Style-4 {
	background-color : #cccccc;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	padding-right : 5px;
	border: none;
}

fieldset#node_article_full_group_author_date,
fieldset#node_page_full_group_author_date  {
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}


/* homepage photo block */
#block-views-homepage-photo-homepage-photo.block,
div.view-homepage-photo {
	margin-bottom: 0;
}

.copyright {
	font-size: 0.688em;
 	padding: 0 5px;
	line-height: 1.25;
}

div.views-field-field-photo-copyright {
	font-size: 0.688em;
 	padding: 0 5px;
	line-height: 1.25;
}

.caption {
	font-size: 0.750em;
	padding: 5px;
}


.main-page-float-right,
.view-display-id-entity_view_1,
.view-id-homepage_photo {
  float: right;
  background-color: #F1F1F1;
  border: 1px solid #C8C8C8;
  padding: 5px;
  width: 400px;
  margin: 0 0 10px 10px;
}

/* Set nested list list-style-types */

ul li.controls1 {

}

ul li.controls2 {

}

ul li.controls3 {
	margin: 0 0 0 20px;
}

.view-related-images {
  float: right;
  padding: 0 0 0 5px;
  width: 210px;
}

.view-related-images .views-row {
	background-color: #F1F1F1;
  border: 1px solid #C8C8C8;
	margin: 0 0 10px 0;
	padding: 5px;
}

/* reorder images display */
.view-display-id-reorder_images  {
  float: left;
  background-color: #F1F1F1;
  border: 1px solid #C8C8C8;
  padding: 5px;
  width: 65%;
}

table#draggableviews-table-related_images-reorder_images.views-table tbody tr td.views-field-field-image {
	width: 225px;
}



table#draggableviews-table-related_images-reorder_images.views-table tbody tr td.views-field-field-image-description {
	width: 50%;
}



.views-field-edit-node, 
.views-field-edit-node a {
	float: right;
	font-size: 0.875em;
	color: #8c2d2a;
}

/* links array style */
 ul.links {
 	list-style-type: none;
 	margin: 4em 0 0;
 	text-align: left;
 }

 ul.links li {
 	display: inline-block;
 	padding-right: 10px;
 }

/* hide book links */
 ul.links li.book_printer,
 ul.links li.book_add_child {
 	display: none;
 }

div.view-related-links ul li {
	list-style-image: url('images/arrow-double.png');
	/*border-bottom: 1px solid #616161;*/
}

div..views-field-field-image-description {
	line-height: 1.1;
}
div.c-name {
	font-size: 1.188em;
	font-weight: 500;
	line-height: 1.1;
}

/*div.caption {
	font-size: 1.2em;
	font-weight: bold;
}*/


div span.detail-3-4 {
	font-style: italic;
	line-height: 1.1;
}

div .c-description {
	font-size: 0.875em;
	font-weight: normal;
	line-height: 1.1;
}

div.view-related-content table.views-table tbody tr td {
	width: auto;
}

div.view-related-content table.views-table tbody tr td {
	font-size: 0.813em;
}

div.view-id-section_contents div.view-header {
	margin-top: 1em;
	font-size: 1.125em;
	font-weight: 500;
}

div.view-id-section_contents table.views-table tbody, thead, tfoot, tr, td, th {
	border: 1px solid #D5D5D5;
	padding: 0 10px;
}


div.view-id-section_contents table.views-table tbody tr td {
	font-size: 0.875em;
}


/* remove top and bottom padding in filter wrapper */
.filter-wrapper {
	padding: 0;
}

h2.block-title {
	font-size: 1.125em;
	font-weight: 400 !important;	
	line-height: 1.2;
}

ul.links li a {
	font-size: .875em;
}

/* make views tables look good */
div.view-related-content table.views-table tbody tr td {
	width: auto;
}

div.view-related-content table.views-table tbody tr td {
	font-size: 0.875em;
}

div.view-id-section_contents table {
	width: 90%;
}

div.view-id-section_contents div.view-header {
	margin-top: 1em;
	font-size: 1.125em;
	font-weight: 400;
}

div.view-id-section_contents table.views-table tbody, thead, tfoot, tr, td, th {
	border: 1px solid #D5D5D5;
	padding: 0.5em 1.0em;
}

div.view-id-section_contents table.views-table tbody tr td {
	font-size: 0.875em;
}



/*  /// superfish and at-commerce main menu overrides ///  */
#menu-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 100;
  top: 0.0em;
  /*min-height: 2.75em;
*/
  box-shadow: none;
}

.nav .block-menu ul a {
  display: block;
  padding: 0.75em 1em;
  text-decoration: none;
}


/*.sf-navbar li li:hover > ul,
.sf-navbar li li.sfHover > ul,
.sf-navbar > li.active-trail > ul {
  left: 0;
  top: 0.5em;
}*/


/*.nav .block-menu ul a {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}*/


li#menu-480-1 {
	padding: 0.75em 1em;
	border: 1px outset #000000;
	/*border: none;*/
  color: #f1f1f1;
  -webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

li#menu-490-1.last a {
  -webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}
li#menu-490-1.last {
  -webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}

.sf-menu.sf-style-space-teal li#menu-490-1:hover,
.sf-menu.sf-style-space-teal li#menu-490-1.sfHover,
.sf-menu.sf-style-space-teal li#menu-490-1.active a,
li#menu-490-1.last a:focus,
li#menu-490-1.last a:hover,
li#menu-490-1.last a:active,
.sf-menu.sf-style-space-teal.sf-navbar li li#menu-490-1.last {
  -webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}


.sf-menu.sf-style-space-teal {
  float: left;
  margin-bottom: 1.0em;
  padding: 0;
}
.sf-menu.sf-style-space-teal.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-space-teal ul {
  padding-left: 0;
}
.sf-menu.sf-style-space-teal a {
	border: none;
  border: 1px outset #000000;
  color: #f1f1f1;
  padding: 0.75em 1em;
}

.sf-menu.sf-style-space-teal li:hover,
.sf-menu.sf-style-space-teal li.sfHover,
.sf-menu.sf-style-space-teal li.active a,
.sf-menu.sf-style-space-teal a:focus,
.sf-menu.sf-style-space-teal a:hover,
.sf-menu.sf-style-space-teal a:active,
.sf-menu.sf-style-space-teal.sf-navbar li li {
  background: #226BA6;
  color: #f1f1f1;
}
.sf-menu.sf-style-space-teal.sf-navbar li ul {
  background-color: #226BA6;
	font-size: 0.875em;
}


/* Colorbox caption fix */
#cboxContent #cboxTitle {
	padding: 0;
	bottom: 34px;
	background: #FFFFFF;
	background: rgba(255, 255, 255, 0.7);
}

#cboxContent #cboxTitle > div {
	padding: 4px;
}

/*   /// page-footer  ///   */
#page-footer .container,
#page-footer .container a {
	color: #f9f9f9;
}

#page-footer .container p,
#page-footer .container p a {
	font-weight: bold;
}

#block-views-related-links-related-links,
#block-views-71d8de985c771f73105619ac94d1d3da {
	padding-top: 0.5em;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	background: -moz-linear-gradient(top,  rgba(165,165,165,0.65) 0%, rgba(165,165,165,0.64) 1%, rgba(242,242,242,0) 60%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,165,165,0.65)), color-stop(1%,rgba(165,165,165,0.64)), color-stop(60%,rgba(242,242,242,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(165,165,165,0.65) 0%,rgba(165,165,165,0.64) 1%,rgba(242,242,242,0) 60%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(165,165,165,0.65) 0%,rgba(165,165,165,0.64) 1%,rgba(242,242,242,0) 60%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(165,165,165,0.65) 0%,rgba(165,165,165,0.64) 1%,rgba(242,242,242,0) 60%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(165,165,165,0.65) 0%,rgba(165,165,165,0.64) 1%,rgba(242,242,242,0) 60%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a5a5a5', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/* search page for images*/
.ia-r .field-type-image figure, .iat-r .field-type-image figure {
    clear: left;
    float: left;
}
body.page-search-content  .ds-2col > .group-left {
    width: 20%;
}

.ds-search-highlight {
	background-color: #FFFCCB;
}

#toggle-wrapper a {
	font-size: 0.750em;
}

div.region-sidebar-second { /* adjust top margin so it lines up under title */
	margin-top: 4.5em;
}

/*  search page */
.view-mode-search_result h2 {
	font-size: 1.0em;
}

.field-name-search-snippet {
	font-size: 0.813em;
}

.view-handbook-announcement .views-field-title {
	font-size: 1.063em;
	font-weight: bold;
}

.nav-button { /* hide the mobile navigation button by default */
	display: none; 
} 

.top-anchor {
	margin-bottom: 1.0em;
}

#columns .related-content { /* this is for the mobile sidebar */
	margin-left: 1.0em;
}

.top-anchor  {
	padding-left: 14px;
	background: url("images/arrow-up.png") no-repeat 0 10px transparent;
}
	
.top-anchor a {
	font-size: 0.875em;
}

.view-id-article_subpages h3 {
	font-size: 1.250em;
	padding-top: 0.5em;
}

#block-sharethis-sharethis-block {
	float: right;
	margin-top: 5px;
}

#block-sharethis-sharethis-block.block {
	margin-bottom: 0;
}


#search-block-form {
	margin: 1.0em 0 0;
}

#block-search-form.block {
	margin-bottom: 0;
}

#search-block-form input {
	color: #ababab;
	margin-bottom: -0.500em;
}

#messages-help-wrapper {
	margin-bottom: 0.375em;
}

#messages-help-wrapper .error {
	display: none;
}










